html,body{
  height: 100%;
}

.clearfix{
  clear: both;
  display: block;
  content: "";
}

a{
  &:link {
    text-decoration: none;
  }
  &:visited {
    text-decoration: none;
  }
  &:hover {
    text-decoration: none;
  }
  &:active {
    text-decoration: none;
  }
}
