@import "colors";
$header-height: 100px;
$list-margin: auto 20px;
$chat-width: calc( 100vw - 300px );
$chat-margin: 5px 5px 5px 40px;

.content__left{
  height: 100%;
  float: left;
  &__header {
    position: fixed;
    background-color: #253141;
    height: $header-height;
    width: 300px;
    color: white;
    p {
      float: left;
      line-height: $header-height;
      margin: $list-margin;
      font-size: 16px;
      font-weight: bold;
    }
    ul{
      float: right;
      line-height: $header-height;
      margin: $list-margin;
      i {
        color: white;
      }
    }
  }
  &__body{
    margin-top: $header-height;
    float: left;
    overflow: auto;
    height: calc( 100% - 100px);
    width: 300px;
    background-color: #2f3e51;
    ul{
      padding: 20px;
      color: white;
      &:hover{
        background-color: #435162;
      }
      .group-name{
        height:23px;
        font-size: 15px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .current-chat{
        height:17px;
        margin-top: 5px;
        font-size: 11px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        .nil_chat{
          color: $pale-gray;
        }
      }
    }
  }
}

.content__right{
  height: 100%;
  float: left;
  &__header{
    position: fixed;
    right: 0px;
    height: $header-height;
    width: calc( 100vw - 300px );
    display: flex;
    background-color: white;
    border-bottom: solid 1px ;
    border-color: #eee;
    .group-index{
      float: left;
      flex: initial;
      width: calc( 100vw - 450px );
      min-width: 525px;
      .group-name{
        padding: 35px 0px 10px 40px;
        font-size: 20px;
      }
      ul{
        padding: 0 35px;
        font-size: 12px;
        color: $pale-gray;
        li{
          float: left;
          padding: 0 5px;
        }
      }
    }
    .edit-btn a{
      float: left;
      line-height: 40px;
      padding: 0px 20px;
      margin: 28px 40px;
      border: solid 2px;
      border-color: $light-blue ;
      font-size: 14px;
      color: $light-blue ;
    }
  }
  &__body{
    margin-top: $header-height;
    position:fixed;
    bottom: 90px;
    right:0;
    overflow: auto;
    height: calc( 100% - 190px);
    width: $chat-width;
    background-color: #fafafa;
    .chat-data{
      margin-top: 40px;
      .chat-body{
        margin: $chat-margin;
        clear: both;
      }
      ul{
        li{
          float: left;
          font-size: 12px;
          color: $pale-gray;
          margin: 7px 5px;
        }
        #user_name{
          color: $hide-gray;
          font-size:16px;
          font-weight: bold;
          margin: $chat-margin;
        }
      }
    }
    .chat-input{
      height: 50px;
      width: calc( 100vw - 380px );;
      background-color: #DDD;
      position: fixed;
      display: flex;
      bottom: 0px;
      right: 0px;
      padding: 20px 40px;
      &__area{
        position: relative;
        float: left;
        &__textfield{
          width: calc( 100vw - 518px );
          height: 50px;min-width:500px;
          flex: initial;
          line-height: 50px;
          resize: none;
          padding: 0px 10px;
          font-size: 16px;
          color: $hide-gray;
        }
        .fa.fa-picture-o{
          position: absolute;
          right: 10px;
          line-height: 50px;
        }
      }
      &__send{
        float: left;
        flex: initial;
        height: 50px;
        margin-left: 15px;
        padding: 0px 30px;
        border: none;
        background-color: $light-blue;
        color: white;
      }
    }
  }
}
