@import "colors";

.alert{
  line-height: 30px;
  height: 30px;
  width: 100%;
  z-index:1;
  text-align: center;
  color: white;
  position:fixed;
  top:0;
  left:0;
  &-success{
    background-color: $light-blue;
  }
  &-danger{
    background-color: red;
  }
}
