$light-blue: #38AFE0;
$header-height: 100px;
$list-margin: auto 20px;

header{
  height:$header-height;
  .header-notice{
    line-height: 30px;
    height: 30px;
    width:100%;
    z-index:1;
    text-align: center;
    color: #ffffff;
    background-color: $light-blue;
    display: none;
  }
  .header__left {
    float:left;
    position:fixed;
    background-color: #253141;
    height: $header-height;
    width: 300px;
    display:table;
    color: #ffffff;
    p {
      float:left;
      line-height: $header-height;
      margin:$list-margin ;
      font-size:16px;
      font-weight: bold;
    }
    ul{
      float:right;
      line-height: $header-height;
      margin:$list-margin;
      i {
        color: #ffffff;
      }
    }
  }
  .header__right{
    float: right;
    position: fixed;
    right:0px;
    height: $header-height;
    width: calc( 100vw - 300px );
    display:flex;
    background-color: #ffffff;
    border-bottom: solid 1px ;
    border-color: #eeeeee;
    .group-index{
      float:left;
      flex:initial;
      width: calc( 100vw - 450px );
      min-width:525px;
      .group-name{
        padding:35px 0px 10px 40px;
        font-size:20px;
      }
      ul{
        padding:0 35px;
        font-size:12px;
        color:#999999;
        li{
          float:left;
          padding:0 5px;
        }
      }
    }
    .edit-btn{
      float:left;
      line-height:40px;
      padding: 0px 20px;
      margin: 28px 40px;
      border: solid 2px;
      border-color:$light-blue ;
      font-size: 14px;
      color:$light-blue ;
    }
  }
}

.clearfix{
  clear:both;
  display:block;
  content:"";
}
